In [13]:
# 필요한 library
import os
from re import A
import subprocess
from natsort import natsorted
import pandas as pd
import keyboard
import signal
import subprocess
import psutil
import math
import shutil
import argparse
from tqdm.notebook import tqdm
from mpl_toolkits.axes_grid1 import host_subplot
import mpl_toolkits.axisartist as AA
import matplotlib.pyplot as plt
import numpy as np
from scipy import signal
from os.path import join

In [14]:
def make_dir(file_path):
    if not os.path.exists(file_path):
        os.makedirs(file_path)

In [15]:
sigma_coef = 1
peak_raw = pd.read_excel(r"Z:\PROJECTS\iwalqq\Data\V3D\Output\IMU Deep Learning\peak_reordered.xlsx")
peak_X = peak_raw["peak_X"]
peak_Y = peak_raw["peak_Y"]
mean_peak_X = peak_X.mean()
mean_peak_Y = peak_Y.mean()
std_peak_X = peak_X.std()
std_peak_Y = peak_Y.std()
data_after_exclusion = peak_raw[(peak_X>mean_peak_X-sigma_coef*std_peak_X)&(peak_X<mean_peak_X+sigma_coef*std_peak_X)&(peak_Y>mean_peak_Y-sigma_coef*std_peak_Y)& (peak_Y<mean_peak_Y+sigma_coef*std_peak_Y)]

In [21]:
data_after_exclusion.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,  10,  11,
            ...
            866, 867, 868, 869, 870, 871, 872, 873, 874, 875],
           dtype='int64', length=810)

In [22]:
# 파일 경로 설정
dataDir =     r'Z:\PROJECTS\iwalqq\Data\V3D\Output\IMU Deep Learning\Data\allnew_20220325_raw_byDeepak_csv\INC_ByStep\INC_ByZero\Included_checked'
normDir =     os.path.join(dataDir,r'NORM')
afterexcDir = os.path.join(dataDir,f'NORM_exclude_{sigma_coef}SIG')
# 절대로 rawDir는 여기서 만들면 안됨
# 이전 단계에서 미리 만들어져있어야 함
make_dir(afterexcDir)
dataExt = r".csv"
# 파일목록 가져오기
# 파일 목록 전체 들고오고 필요한 확장자만 고르고 들고온 파일 목록에서 .txt만 남기고 나머지 것들 제외시키기
dataList = natsorted([_ for _ in os.listdir(normDir) if _.endswith(dataExt)])

In [23]:
# 목록 읽기
listFromexcel = pd.read_excel("list_dataset_correction.xlsx")
listinclude = pd.DataFrame(columns=listFromexcel.columns)
count = 0
for idx ,file in tqdm(enumerate(dataList)):
    if idx in data_after_exclusion.index:
        shutil.copy(join(normDir,file),join(afterexcDir,file))
        listinclude.loc[len(listinclude.index)] = listFromexcel.iloc[idx].astype(object)
        count +=1
print(f"총 포함된 데이터 수:{count}")
listinclude.to_excel(f"list_dataset_correction_EXCLUSION_{sigma_coef}SIG.xlsx",index=False)

0it [00:00, ?it/s]

총 포함된 데이터 수:810

In [15]:
pd.DataFrame(listFromexcel.iloc[idx]).transpose()

    patientID dateVisit speed numtrial   side numStep
875      P297    100920    fw       14  oaleg       1

In [16]:
listFromexcel

    patientID  dateVisit speed  numtrial    side  numStep
0        P002      31220     w         7  nonleg        1
1        P002      31220     w         7  nonleg        2
2        P002      31220     w         7   oaleg        1
3        P002      31220     w         8  nonleg        1
4        P002      31220     w         8   oaleg        1
..        ...        ...   ...       ...     ...      ...
871      P297     100920    fw         8   oaleg        1
872      P297     100920    fw         9   oaleg        1
873      P297     100920    fw        10   oaleg        1
874      P297     100920    fw        11   oaleg        1
875      P297     100920    fw        14   oaleg        1

[876 rows x 6 columns]