# 학습 그래프 출력 후 정리할 때 사용함
### 텐서보드에서 출력한 학습 그래프 결과 정리용

In [1]:
import pandas as pd
import numpy as np
from natsort import natsorted 
from os import listdir
from os.path import isfile, join, exists,isdir

In [3]:
list_results = natsorted([f for f in listdir('.') if f.endswith(".csv")])
dataTypes = ['angle','moBWHT']
sesses = ['train','test']
emb_dims = [5,10,20,30,40,50,60,70,80]
metrics = ['X_nRMSE','Y_nRMSE','Z_nRMSE']
columns =['sess','Type','emb_dim','X_nRMSE_mean','X_nRMSE_std','Y_nRMSE_mean','Y_nRMSE_std','Z_nRMSE_mean','Z_nRMSE_std','SUM_nRMSE']
writer = pd.ExcelWriter('result_4_condition.xlsx', engine='xlsxwriter')
X_nRMSE = []
Y_nRMSE = []
Z_nRMSE = []

for resultName in list_results:
    result = pd.read_csv(resultName)
    mod_name = "_".join(resultName.split('_')[:-2])
    df_mean_std = pd.DataFrame(columns=columns)
    for dataType in dataTypes:
        for sess in sesses:
            for emb_dim in emb_dims:
                for metric in metrics:
                    pick = result[(result['Type']==dataType) & (result['sess']==sess) & (result['emb_dim']==emb_dim)]
                    globals()[f'{metric}'] = [pick[metric].mean(), pick[metric].std()]
                sum_nRMSE = X_nRMSE[0]+Y_nRMSE[0]+Z_nRMSE[0]
                df = pd.DataFrame([[dataType, sess, emb_dim, X_nRMSE[0], X_nRMSE[1],Y_nRMSE[0],Y_nRMSE[1],Z_nRMSE[0],Z_nRMSE[1], sum_nRMSE]],columns=columns)
                df_mean_std = pd.concat([df_mean_std,df], ignore_index=True)
    df_mean_std.to_excel(writer,sheet_name=str(mod_name))
writer.save()

In [72]:
list_results

['RG_DG_IWALQQ_AE_1st_hparams_table.csv',
 'RG_DG_IWALQQ_AE_2nd_hparams_table.csv',
 'RG_IWALQQ_AE_1st_hparams_table.csv',
 'RG_IWALQQ_AE_2nd_hparams_table.csv']

In [42]:
df_mean_std

,sess,Type,emb_dim,X_nRMSE_mean,X_nRMSE_std,Y_nRMSE_mean,Y_nRMSE_std,Z_nRMSE_mean,Z_nRMSE_std,0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,angle
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,test
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.912617
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.962375
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.135808
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.055942
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.146635
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.288677

In [ ]:
dataType = 'angle'
sess = 'test'
emb_dim = 10.0
metric = 'X_nRMSE'
pick = result[(result['Type']==dataType)&(result['sess']==sess) & (result['emb_dim']==emb_dim)]
globals()[f'{dataType}_{sess}_{int(emb_dim)}_{metric}'] = [pick[metric].mean(), pick[metric].std()]